button {font-family: Arial; font-size:15px;}

.sub{
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 115px;
    margin-right: 8px;
    border-radius: 2px;
    transition: opacity 0.2s;
}
.sub:hover{
    opacity: 0.8;
    cursor: pointer;
}

.sub:active {
    opacity: 0.5;
}

.join {
    border-style:solid;
    border-color: rgb(6,95,212);
    color: rgb(6,95,212);
    background-color: white;
    height: 36px;
    width: 62px;
    border-width: 1.89px;
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 0.2s,
        color .2s,
        opacity 0.2s;
}

.join:hover {
    background-color: rgb(6,95,212);
    color: white;
    cursor: pointer
}

.join:active{
    opacity: 0.8;
}

.x {
    background-color: rgb(29, 155, 240);
    color: white;
    border:none;
    height: 36px;
    width: 72px;
    font-weight: bold;
    border-radius: 50px;
    transition: box-shadow 0.2s,
        opacity 0.2s;
    margin-right: 8px
}

.x:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    cursor:pointer;
}

.x:active {
    opacity: 0.7;
}

.uber {
    background-color: black;
    border-color: black;
    border-style: solid;
    color:white;
    height: 36px;
    width: 120px;
    margin-right: 8px;
    transition: opacity 0.2s;
}

.uber:hover {
    opacity:0.7;
    cursor: pointer
}

.cart {
    background-color: rgb(255,216,20);
    border:none;
    height: 36px;
    width: 200px;
    border-radius: 25px;
    transition: background-color 0.2s;
}

.cart:hover {
    background-color: rgb(241, 201, 1);
    cursor: pointer
}

.git{
    background-color: rgb(46,164,79);
    color: white;
    border: none;
    height: 36px;
    width: 80px;
    font-weight: 600;
    border-radius: 8px;
    transition: box-shadow 0.2s;
}

.git:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer
}